@import "../../styles/variable";

.paging {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    ul {
        display: flex;
        border-radius: 20px;
        overflow: hidden;
        li {
            a,
            div {
                justify-content: center;
            }
        }
    }
    .btnPaging,
    .disable {
        height: 100%;
        display: flex;
        padding: 10px 20px;
        width: 130px;
        text-align: center;
    }
    .btnPaging {
        background: $color-green;
        color: #fff;
        margin-left: 3px;
        margin-right: 3px;
        border-radius: 20.5px;
    }
    .disable {
        background: $color-gray;
        color: rgb(0 0 0 / 43%);
        margin-left: 3px;
        margin-right: 3px;
        border-radius: 20.5px;
    }
}
