@import "../../styles/variable";

.rateBox {
    background: $color-gray2;
    border: 2px solid #dedede;
    text-align: center;
    width: 256px;
    height: 215px;
    max-width: 256px;
    border-radius: 10.5px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    @media screen and (max-width: $widthTabMin) {
        display: block;
        width: 320px;
        max-width: 320px;
        flex-direction: row;
        margin: 5px auto 24px auto;
        height: auto;
        padding: 45px 25px 48px 25px;
    }
    @media screen and (max-width: $widthMobileMax) {
        width: 100%;
        min-width: 320px;
        max-width: 100vw;
    }

    @media screen and (max-width: $widthMobileSm) {
        width: 100%;
        min-width: 300px;
        max-width: 100vw;
    }

    @media screen and (max-width: $widthMobileXs) {
        width: 100%;
        min-width: 286px;
        max-width: 100vw;
    }

    svg {
        margin-right: 4px;
    }
    h4 {
        font-family: $font-MulishBold;
        font-size: 40px;
    }
    @media (max-width: $widthMobileMax) {
        padding: 15px;
        h4 {
            font-size: 30px;
        }
    }
}

.starBox {
    font-size: 14px;
}
