@import "../../styles/variable.scss";
@import "../../styles/fonts.scss";
.productItem {
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
    min-height: 150px;
    position: relative;
    background: #fff;
    transition: $animate;
    border: none;
    a {
        color: $color-black;
    }
    &:hover {
        box-shadow: $shadow;
        transform: scale(1.02);
        z-index: 1;
        animation: $animate;
    }
    .shortproduct {
        display: flex;
    }
    .imageprod {
        max-width: 150px;
        margin-right: 10px;
    }
    h5 {
        font-family: "RubikMedium", sans-serif;
        color: #071723;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 4px;
    }
    h6 {
        font-weight: normal;
        margin-bottom: 10px;
        font-family: "Mulish-Regular", sans-serif;
        font-size: 11.5px;
        line-height: 16px;
        color: #71716c;        
    }
    .wrpbtn {
        text-align: center;
        margin-top: 7px;
        opacity: 1;
        visibility: visible;
        transition: $animate;
        font-family: 'Rubik-Regular', sans-serif;
        line-height: 1.45;
        padding: 12px 12px;
        border-radius: 11.5px;      
        a {
            display: block;
            color: $color-green;
        }
        .btnfull {
            color: #fff;
            background: $color-green;
            border-radius: 10px;
            padding: 5px 10px;
            margin-bottom: 10px;
            cursor: pointer;
            border: none;
            min-width: 164px;
            width: 100%;
            display: block;       
            &:focus {
                outline: none;
            }
        }
        button {
            &:disabled,
            &[disabled] {
                background: $color-gray;
                cursor: default;                
            }
        }
    }
    &:hover {
        .wrpbtn {
            opacity: 1;
            visibility: visible;
            transition: $animate;
        }
    }
}
