@import "../../styles/variable.scss";

.productItem {
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
    min-height: 150px;
    position: relative;
    background: #fff;
    transition: $animate;
    border: none;
    a {
        color: $color-black;
    }
    &:hover {
        box-shadow: $shadow;
        transform: scale(1.02);
        z-index: 1;
        animation: $animate;
    }
    .shortproduct {
        display: flex;
    }
    .imageprod {
        max-width: 150px;
        margin-right: 10px;
    }
    h5 {
        font-size: 16px;
        margin-bottom: 0;
        min-height: 40px;
    }
    h6 {
        font-weight: normal;
        font-size: 11px;
        margin-bottom: 10px;
    }
    .wrpbtn {
        text-align: center;
        margin-top: 15px;
        opacity: 1;
        visibility: visible;
        transition: $animate;
        a {
            display: block;
            color: $color-green;
        }
        .btnfull {
            color: #fff;
            background: $color-green;
            border-radius: 10px;
            padding: 5px 10px;
            margin-bottom: 10px;
            cursor: pointer;
            border: none;
            &:focus {
                outline: none;
            }
        }
        button {
            &:disabled,
            &[disabled] {
                background: $color-gray;
                cursor: default;
            }
        }
    }
    &:hover {
        .wrpbtn {
            opacity: 1;
            visibility: visible;
            transition: $animate;
        }
    }
}
