@import "../../styles/variable.scss";
@import "../../styles/fonts.scss";
.productItem {
    padding: 30px 20px 5px 20px;
    border-radius: 11px;
    margin-bottom: 15px;
    margin-top: 15px;
    min-height: 150px;
    position: relative;
    background: #fff;
    transition: $animate;
    border: none;
    @media screen and (max-width: 1200px) {
        border:1px solid #d7d7d7;
    }    
    @media screen and (max-width: $widthMobileSm) {
        border:0;
    }    
    a {
        color: $color-black;
    }
    &:hover {
        box-shadow: $shadow;
        transform: scale(1.02);
        z-index: 1;
        animation: $animate;
        @media (max-width: $widthMobileMax) {
            box-shadow: none;
            border:1px solid #d7d7d7;
        }       
        @media screen and (max-width: $widthMobileSm) {
            box-shadow: none;
            border: 0;
            transform: none;
            -webkit-transform:none;
        }         
    }
    .shortproduct {
        display: flex;
        @media (max-width: $widthMobileMax) {
            flex-direction: column;
        }
    }
    .imageprod {
        max-width: 150px;
        margin-right: 10px;
        padding-top: 10px;
        @media (max-width: $widthMobileMax) {
            text-align: center;
            margin-right: 0px;
            padding-top: 1px;
        }
    }
    h5 {
        font-family: "RubikMedium", sans-serif;
        color: #071723;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 4px;
        @media (max-width: $widthMobileMax) {
            font-size: 16px;
            margin-top: 12px;
        }
        @media screen and (max-width: $widthMobileSm) {
            font-size: 16px;
        }        
    }
    h6 {
        font-weight: normal;
        margin-bottom: 5px;
        font-family: "Mulish-Regular", sans-serif;
        font-size: 11.5px;
        line-height: 16px;
        color: #71716c;
    }

    .btnMediumLoad{
        text-align: center;
        display: block;
        margin-top: 30px;
    }
    
    .wrpbtn {
        text-align: center;
        margin-top: 7px;
        opacity: 1;
        visibility: visible;
        transition: $animate;
        font-family: "Rubik-Regular", sans-serif;
        line-height: 1.45;
        padding: 12px 12px;
        border-radius: 11.5px;
        @media (max-width: $widthMobileMax) {
            padding: 5px;
        }
        @media screen and (max-width: $widthMobileSm) {
            padding: 5px 0px;
        }        
        a {
            display: block;
            color: $color-green;
            font-family: $font-RubikMedium;
            letter-spacing: 0.25px;
            font-size: 14px;
            line-height: 1.45;
            padding: 11px 12px;        
            &:hover{
                color: $color-green-dark;
            }    
            @media (max-width: $widthMobileMax) {
                padding: 5px;
                text-transform: capitalize;
                font-size: 12px;
            }
        }
        .btnfull {
            color: #fff;
            background: $color-green;
            font-family: $font-RubikMedium;
            letter-spacing: 0.2px;
            font-size: 14px;
            line-height: 1.45;
            padding: 11px 12px;
            border-radius: 11.5px;
            border: 2px solid transparent;
            margin-bottom: 10px;
            cursor: pointer;
            border: none;
            min-width: 164px;
            width: 100%;
            display: block;
            &:hover{
                background:$color-green-dark;
                color: #fff;
                box-shadow: 0 0 11px rgba(137, 195, 64, .25);
                -ms-box-shadow: 0 0 11px rgba(137, 195, 64, .25);                
            }
            &:focus {
                outline: none;
            }
            @media (max-width: $widthMobileMax) {
                min-width: 0;
                font-size: 12px;
                border-radius: 10.5px;
            }

            @media screen and (max-width: $widthMobileSm) {
                border-radius: 9.5px;
            }

        }
        button {
            &:disabled,
            &[disabled] {
                background: $color-gray;
                cursor: default;
                color: #7e7e7e;
            }
        }
    }
    &:hover {
        .wrpbtn {
            opacity: 1;
            visibility: visible;
            transition: $animate;
        }
    }
    @media (max-width: $widthMobileMax) {
        padding: 7px;
    }
    @media screen and (max-width: $widthMobileSm) {
        padding: 10px 0px;
    }
}
