.title {
    h4 {
        display: block;
        position: relative;
        padding-bottom: 10px;
        font-size: 30px;
        &::after{
            content: "";
            background: red;
            width: 20px;
            height: 2px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto;
        }
    }

}