@import "../../styles/variable";

.title {
    h2 {
        display: block;
        position: relative;
        padding-bottom: 3px;
        padding-top: 3px;        
        font-size: 30px;
        font-family: $font-MulishBold;
        font-size: 17px;
        padding-left: 15px;
        &::before{
            content: "";
            left: 0;
            top: 0;
            background: $color-green;
            width: 5px;
            height: 100%;
            position: absolute;
        }
    }
}