@import "../../styles/variable.scss";

.pagelisthandphone {
    padding: 50px 0;
    background: #fff;
    .contents {
        // max-width: $widthdefault;
        max-width: $containercustom;
        margin: 0 auto;
        width: 100%;
        padding: 0 15px;
    }
}

.spaceHeight {
    display: block;
    width: 100%;
    height: 30px;
    &50 {
        height: 50px;
    }
}

.itemMarket {
    .logoMarketplace {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        padding: 15px;
        border-radius: 0px;
        @media screen and (max-width: 1200px) {
            width: 196px;
            height: auto;
            padding: 10px 0px;
        }
        @media screen and (max-width: 992px) {
            width: 196px;
            height: auto;
            padding: 10px 0px;
        }
    }
    .productMarketplace {
        margin: 18px 0px 15px 0px;
        @media screen and (max-width: 992px) {
            margin: 21px 0px 12px 0px;
            border-bottom: 1px solid #f9f9f8;
            border-top: 1px solid #f9f9f8;
            padding-bottom: 15px;
            padding-top: 20px;
        }
        @media screen and (max-width: $widthMobileMax) {
            margin: 21px 0px 12px 0px;
            border-bottom: 1px solid #f9f9f8;
            border-top: 1px solid #f9f9f8;
            padding-bottom: 15px;
            padding-top: 20px;
        }
    }
    h6 {
        font-family: $font-MulishRegular;
        color: $color-gray3;
        font-size: 12px;
        margin-bottom: 8px;
    }
    h4 {
        color: $color-black;
        font-size: 20px;
        font-family: $font-RubikMedium;
        letter-spacing: 0.3px;
    }
    a {
        color: $color-green;
        text-decoration: underline;
        display: block;
        color: #89c340;
        font-family: $font-RubikMedium, sans-serif;
        letter-spacing: 0.25px;
        font-size: 14px;
        line-height: 1.45;
        padding: 7px 0px;
    }
    @media (max-width: $widthMobileMax) {
        .logoMarketplace {
            display: block;
            max-width: 150px;
            padding: 15px 0px 0px 0px;
            position: relative;
        }
    }
}

.productItem {
    padding: 32px 20px 24px 20px;
    border-radius: 11px;
    margin-bottom: 15px;
    margin-top: 15px;
    min-height: 150px;
    position: relative;
    background: #fff;
    transition: $animate;
    border: none;
    @media screen and (max-width: $widthMobileMax) {
        padding: 0px 0px;
    }
    &:hover {
        box-shadow: $shadow;
        transform: scale(1.02);
        z-index: 1;
        animation: $animate;
    }
    .shortproduct {
        display: flex;
        @media screen and (max-width: $widthMobileMax) {
            flex-direction: column;
        }
    }
    .imageprod {
        max-width: 150px;
        margin-right: 16px;
        padding-top: 10px;
        @media screen and (max-width: $widthMobileMax) {
            text-align: center;
        }
    }
    h5 {
        font-size: 16px;
        margin-bottom: 0;
        min-height: 23px;
        font-family: RubikMedium, sans-serif;
        color: #071723;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 4px;
        @media screen and (max-width: $widthMobileMax) {
            font-size: 16px;
            margin-top: 12px;
        }
    }
    h6 {
        font-family: $font-MulishRegular, sans-serif;
        font-size: 11.5px;
        line-height: 16px;
        margin-bottom: 10px;
        color: $color-graytext;
    }
    .wrpbtn {
        text-align: center;
        margin-top: 15px;
        opacity: 1;
        visibility: visible;
        transition: $animate;
        a {
            display: block;
            color: $color-green;
            font-family: RubikMedium;
            letter-spacing: 0.2px;
            font-size: 14px;
            line-height: 1.45;
            padding: 11px 12px;
            border-radius: 11.5px;
            margin-bottom: 10px;
            cursor: pointer;
            border: none;
            min-width: 164px;
            width: 100%;
            background: transparent none;
            border: 2px solid #89c340;
            color: #89c340;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            @media screen and (max-width: $widthMobileSm) {
                border-radius: 9.5px;
                font-size: 12px;
                min-width: 110px;
                width: 100%;
            }
        }
        .btnfull {
            color: #fff;
            background: $color-green;
            border-radius: 10px;
            padding: 5px 10px;
            margin-bottom: 10px;
            cursor: pointer;
            border: none;
            &:focus {
                outline: none;
            }
        }
        button {
            &:disabled,
            &[disabled] {
                background: $color-gray;
                cursor: default;
            }
        }
    }
    &:hover {
        .wrpbtn {
            opacity: 1;
            visibility: visible;
            transition: $animate;
        }
    }
}

.paging {
    display: flex;
    justify-content: center;
    a {
        padding: 5px 10px;
        display: block;
    }
    ul {
        display: flex;
        margin: 0;
        li {
            list-style-type: none;
        }
    }
}

.detailproducts {
    padding: 50px 0;
    .contents {
        width: 100%;
        max-width: 1250px;
        margin: 0 auto;
        padding: 0 15px;
        @media screen and (min-width: 1920px) and (max-width: 1920px) {
            max-width: $widthdefault;
        }
    }
    @media (max-width: $widthMobileMax) {
        padding: 25px 0;
    }

    @media (max-width: $widthMobileSm) {
        padding: 5px 0px 25px 0px;
    }
}

// .overview {
//     .mainslide {
//     }
//     .subslider {
//         margin-top: 30px;
//     }
//     @media (max-width: $widthMobileMax) {
//         margin-top: 10px;
//         .subslider {
//             margin-top: 20px;
//             margin-bottom: 20px;
//         }
//     }
// }

// ok

.sliderOverview {
    text-align: center;
}

.shortdesc {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-left: $color-gray solid 1px;
    padding-left: 40px;
    margin-bottom: 32px;
    @media screen and (max-width: 992px) {
        padding-left: 0px;
        border-left: #fff solid 1px;
        margin-bottom: 0px;
        margin-top: 10px;
    }
    @media screen and (max-width: $widthMobileMax) {
        padding-left: 0px;
        border-left: #fff solid 1px;
    }
    @media screen and (max-width: $widthMobileSm) {
        margin-bottom: 24px;
    }
    h1 {
        font-size: 30px;
        margin-bottom: 20px;
        font-family: $font-RubikMedium, sans-serif;
        @media screen and (max-width: 1200px) {
            font-size: 28px;
        }

        @media screen and (max-width: $widthMobileMax) {
            font-size: 26px;
        }

        @media screen and (max-width: $widthMobileSm) {
            font-size: 24px;
        }
        @media screen and (max-width: $widthMobileXs) {
            font-size: 23px;
        }
    }
    h4 {
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 15px;
        font-family: $font-RubikMedium, sans-serif;
        color: $color-black;
    }
    .title {
        font-family: $font-MulishRegular;
        display: flex;
        align-items: center;
        overflow: unset;
        label {
            opacity: 0.8;
            font-weight: normal;
            margin: 0;
            margin-left: 7px;
            margin-bottom: 10px;
        }
        img {
            top: -6.5px !important;
        }
    }
    .itemshort {
        margin-top: 15px;
        margin-bottom: 15px;
        color: $color-graytext;
        font-family: $font-MulishRegular;
        font-size: 16px;
        overflow: unset;
        div {
            overflow: unset !important;
        }
        label {
            color: $color-black;
            font-family: $font-RubikMedium;
            margin-left: 12px;
        }
        span {
            &::after {
                content: "/";
                margin-left: 5px;
                margin-right: 0px;
            }
            &:last-child {
                &::after {
                    content: none;
                }
            }
        }
    }
    @media (max-width: $widthMobileMax) {
        border: none;
        padding: 0;
        .itemshort {
            margin: 10px 0px;
        }
    }
}

.gap {
    margin-top: 20px;
}

// keatas ok

.itemDesc {
    margin: 30px 0;
    max-width: 1000px;
    color: $color-graytext;
    font-family: $font-MulishRegular;
    font-size: 16px;
    h5 {
        margin-bottom: 14px;
    }
    @media (max-width: $widthMobileMax) {
        margin: 15px 0;
    }
}

.linkGeneral {
    cursor: pointer;
    color: $color-green;
    background: $color-green2;
    padding: 2px 12px;
    border-radius: 30px;
    display: inline-block;
    font-family: $font-MulishSemiBold;
    font-size: 12px;
    &:hover {
        background: $color-green;
        color: #fff;
    }
}

.boxTableContent {
    display: block;
    position: sticky;
    top: 120px;
    @media screen and (max-width: 1200px) {
        top: 86px;
    }
    ul {
        width: 100%;
        border: $color-gray solid 1px;
        border-radius: 10px;
        padding: 20px 0;
        margin-top: 30px;
    }
    li {
        display: block;
    }
    a {
        color: $color-black2;
        padding: 7px 25px;
        display: block;
        &:hover {
            color: $color-green;
            text-decoration: none;
        }
    }
    @media (max-width: $widthMobileMax) {
        margin-bottom: 10px;
        font-family: $font-MulishRegular, sans-serif;
        font-size: 16px;
        ul {
            margin-top: 15px;
            padding: 10px 15px;
            text-align: left;
            border-radius: 9.5px;
            li {
                display: block;
                border-bottom: 1px solid #d7d7d7;
                &:last-child {
                    border-bottom: 0px;
                }
                a {
                    padding: 10px 10px 10px 0px;
                    background: #fff;
                    border-radius: 30px;
                    margin: 3px 5px 3px 0px;
                    font-size: 12px;
                    border-radius: 0;
                    font-family: $font-MulishRegular, sans-serif;
                    font-size: 16px;
                    color: $color-graytext, sans-serif;
                }
            }
        }
    }
}

//keatas ok

.marketplaceprice {
    margin-bottom: 30px;
    padding: 20px 0;
}

.contentreview {
    padding: 20px 0;
    h4 {
        font-size: 17px;
        margin-bottom: 15px;
    }
}

.wrpItem {
    max-width: 200px;
    .itemlist {
        margin-bottom: 30px;
        border-bottom: $color-gray solid 1px;
        padding-bottom: 20px;
        &:last-child {
            border-bottom: 0;
        }
    }
}

.logomp {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    img {
        max-height: 50px;
    }
}

.itemprodmp {
    .imgwrp {
        text-align: center;
    }
    h6 {
        color: $color-black2;
        opacity: 0.8;
        font-size: 12px;
    }
    h4 {
        font-size: 16px;
        font-family: $font-MulishSemiBold;
    }
    a {
        color: $color-green;
        text-decoration: underline;
    }
}

.ratingSubmit {
    margin-top: 50px;
    margin-bottom: 50px;
    background: $color-gray2;
    width: 100%;
    padding: 50px 0;
    .contents {
        width: 100%;
        max-width: 1250px;
        @media screen and (min-width: 1920px) and (max-width: 1920px) {
            max-width: 1320px;
        }
    }
    @media (max-width: $widthMobileMax) {
        margin: 24px 0;
        margin-bottom: 45px;
        padding: 20px 0px 40px 0px;
    }
}

.scrollMargin {
    scroll-margin-top: 20px;
}

.detailCompare {
    padding-top: 50px;
    background: #fff;
    max-width: 1250px;
    margin: 0 auto;
    @media (max-width: $widthMobileMax) {
        padding-top: 35px;
    }
    color: $color-graytext;
    .contents {
        width: 100%;
        margin: 0 auto;
        max-width: $widthdefault;
        padding: 0 15px;
    }
    .prodItem {
        border: $color-gray solid 1px;
        text-align: center;
        padding: 30px 20px;
        padding-bottom: 20px;
        max-width: 250px;
        display: flex;
        flex-direction: column;
        height: 100%;
        border-radius: 10px;
        @media (max-width: $widthMobileMax) {
            padding: 10px 2px;
        }
        h4 {
            margin-top: 10px;
            font-size: 17px;
            @media (max-width: $widthMobileMax) {
                font-size: 13px;
                margin-top: 5px;
            }
        }
        span {
            font-size: 12px;
            opacity: 0.8;
            @media (max-width: $widthMobileMax) {
                display: none;
            }
        }
    }
    .imgwrp {
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        font-family: $font-MulishSemiBold, sans-serif;
        columns: $color-black2;
    }
    h5 {
    }
}

//kebawah ok

.itemInfoCompare {
    padding: 15px 0;
    border-bottom: $color-gray solid 1px;
    a {
        color: $color-green;
        font-family: $font-RubikMedium, sans-serif;
        text-decoration: underline;
        &:hover {
            color: $color-green-dark;
        }
    }
    h5 {
        margin-bottom: 15px;
        font-family: $font-MulishBold;
    }
    ul {
        font-size: 12.5px;
    }
}

h4 {
    &.titleCompare {
        font-size: 17px;
        font-family: $font-MulishBold;
        text-transform: capitalize;
        position: relative;
        padding-left: 15px;
        color: $color-black;
        &::before {
            content: "";
            position: absolute;
            background: $color-green;
            width: 5px;
            height: 100%;
            display: inline-block;
            margin-right: 10px;
            left: 0;
            top: 0;
        }
    }
}

.productinfo {
    a {
        cursor: pointer;
        color: $color-black;
    }
}

.containerCompare {
    right: 24px;
    bottom: 24px;
    background: #fff;
    z-index: 10;
    position: fixed;
    border-radius: 12.5px;
    box-shadow: 4px 6px 30px 2.5px rgba(214, 214, 214, 0.96);
    -ms-box-shadow: 4px 6px 30px 2.5px rgba(214, 214, 214, 0.96);
    min-width: 274px;
    overflow: hidden;
    font-family: $font-RubikMedium, sans-serif;
    font-size: 17px;
    line-height: 24.5px;
    letter-spacing: 0.3px;
    h5 {
        font-family: $font-MulishRegular, sans-serif;
        font-size: 13px;
        line-height: 24.5px;
        color: $color-graytext;
        margin-bottom: 5px;
        &:first-child {
            margin-top: 10px;
        }
    }
    .desc {
        padding: 15px 24px 12px 24px;
    }
    @media (max-width: $widthMobileMax) {
        left: 0;
        right: 0;
        bottom: 5px;
        max-width: 290px;
        margin: 0 auto;
        background: none;
        .desc {
            display: none;
        }
    }
    @media (max-width: $widthMobileSm) {
        max-width: 100%;
        bottom: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        margin-bottom: 0px;
    }
}

.wrpAction {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 1px 24px 8px 24px;
    margin-bottom: 10px;
    @media (max-width: $widthMobileMax) {
        position: relative;
        &::before {
            position: absolute;
            content: " ";
            width: 100vw;
            height: 99px;
            background: #fff;
            left: 0px;
            top: -15px;
        }
    }
    @media (max-width: $widthMobileSm) {
        margin-bottom: 3px;
        margin-top: 10px;
    }
    .btnCompareProd {
        padding: 12px 5px;
        cursor: pointer;
        border-radius: 14.5px;
        font-family: $font-RubikMedium, sans-serif;
        letter-spacing: 0.25px;
        font-size: 15px;
    }
    .btnCompareProd {
        flex: 1;
        background: $color-green;
        color: #fff;
        z-index: 10;
        outline: none;
        top: 20px;
        &:hover {
            background: $color-green-dark;
            -webkit-box-shadow: 0 0 11px rgba(137, 195, 64, 0.25);
            box-shadow: 0 0 11px rgba(137, 195, 64, 0.25);
            -ms-box-shadow: 0 0 11px rgba(137, 195, 64, 0.25);
        }
        @media (max-width: $widthMobileMax) {
            border-radius: 30px;
        }
    }
}

.rateformnew {
    margin-left: 32px;
    font-size: 32px;
    @media (max-width: $widthMobileMax) {
        width: 100%;
    }
    svg {
        margin-right: 12px;
        margin-bottom: 6px;
        width: 24px;
        @media (max-width: $widthMobileMax) {
            margin: 14px 0px 10px 0px;
        }
    }
    // h2 {
    //     margin-bottom: 10px;
    //     font-size: 17px;
    //     font-family: $font-MulishSemiBold, sans-serif;
    //     letter-spacing: 0.2px;
    //     color: $color-black;
    //     margin-bottom: 15px;
    // }
    @media (max-width: $widthMobileMax) {
        margin-left: 20px;
        width: 100%;
        display: block;
        // h2 {
        //     margin-bottom: 5px;
        //     font-size: 14px;
        // }
    }
}

// -----
// kebawah error
