@import "../../styles/variable";

.footer {
    border-top: $color-green solid 2px;
    min-height: 100px;
    width: 100%;
}

.contents {
    width: 100%;
    max-width: $widthdefault;
    margin: 0 auto;
    padding: 0 15px;
}

.top {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 30px;
}
.btm {
    text-align: center;
    padding: 10px 0;
    background: $color-gray2;
    font-size: 12px;
}

.itemfooter {
    h4 {
        font-family: $font-MulishBold;
        color: $color-black;
        font-size: 17px;
        border-left: $color-green solid 5px;
        padding-left: 10px;
        margin-bottom: 20px;
    }
    ul {
        padding: 0;
        margin: 0;
        li {
            list-style-type: none;
        }
    }
    a {
        color: $color-graytext;
        padding: 2px 0;
        display: block;
    }
    .item {
        display: flex;
        justify-content: space-between;
        margin: 0 -15px;
        ul {
            padding: 0 15px;
            min-width: 230px;
        }
    }
}

.socmed {
    margin: 0;
    display: flex;
    align-items: center;
    li {
        display: inline-block;
        border: $color-green solid 1px;
        text-align: center;
        align-items: center;
        border-radius: 50%;
        margin-right: 5px;
        &:last-child {
            margin-right: 0;
        }
    }
    a {
        text-align: center;
        vertical-align: middle;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
