@import "../../styles/variable";

.footer {
    border-top: $color-green solid 2px;
    min-height: 100px;
    width: 100%;
}

.contents {
    width: 100%;
    max-width: $containercustom;
    margin: 0 auto;
    padding: 0;
    @media screen and (max-width: 480px) {
        padding: 0 5px;
    }
    @media screen and (max-width: 320px) {
        padding: 0 1px;
    }
    @media screen and (min-width: 1920px) and (max-width: 1920px) {
        max-width: $containerlarge;
        padding: 0 5px;
    }          
}

.top {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 30px;
    flex-wrap: wrap;
    @media screen and (max-width: $widthMobileSm) {
        padding-bottom: 10px;
    }
}
.btm {
    text-align: center;
    padding: 10px 0;
    background: $color-gray2;
    font-size: 12px;
    @media screen and (max-width: $widthMobileSm) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.itemfooter {
    h4 {
        font-family: $font-MulishBold;
        color: $color-black;
        font-size: 17px;
        border-left: $color-green solid 5px;
        padding-left: 10px;
        margin-bottom: 20px;
    }
    ul {
        padding: 0;
        margin: 0;
        li {
            list-style-type: none;
        }

    }
    a {
        color: $color-graytext;
        padding: 2px 0;
        display: block;
    }
    .item {
        display: flex;
        justify-content: space-between;
        margin: 0 -15px;
        ul {
            padding: 0 15px;
            min-width: 250px;
            @media screen and (max-width: 1200px) {
                min-width: 205px;
            }
            @media screen and (max-width:992px) {

            }
            @media screen and (max-width : 768px) {
                min-width: 215px;
            }
            @media screen and (max-width: 480px) {
                min-width: 165px;
            }

            @media screen and (max-width: 320px) {
                min-width: 156px;
            }
        }
    }
}

.itemfooter:first-child {
    @media screen and (max-width:992px) {
        margin-bottom: 36px;
    }    
    @media screen and (max-width: 320px) {
        margin-bottom: 36px;
    }
}

.socmed {
    margin: 0;
    display: flex;
    align-items: center;
    li {
        display: inline-block;
        border: $color-green solid 1px;
        text-align: center;
        align-items: center;
        border-radius: 50%;
        margin-right: 5px;
        &:last-child {
            margin-right: 0;
        }
    }
    a {
        text-align: center;
        vertical-align: middle;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
