@import "../../styles/variable";

.overviewproduct {
    padding: 50px 0;
    .contents {
        width: 100%;
        max-width: $widthdefault;
        margin: 0 auto;
    }
}

.wrpOverview {
    display: block;
    .left, right {
        
    }
    .left {
        display: inline-block;
    }
    .right {
        display: inline-block;
    }
}