@import "../styles/variable.scss";

.compareItem {
    background: #fff;
    padding: 50px 0;
    .contens {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        padding: 0 0px;    
    }
    @media (max-width: $widthMobileMax) {
        padding: 20px 0;
    }
    
}

.itemcompare {
    box-shadow: $shadow2;
    width: 100%;
    min-height: 100px;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 11.5px;
    border: #f5f5f5 solid 1px;
    overflow: hidden;
    @media screen and (max-width: $widthTabMax) {
        box-shadow: none;
        border:1px solid #d7d7d7;        
    }
    @media screen and (max-width: $widthTabMin) {
        box-shadow: none;
        border:1px solid #d7d7d7;
    }
    
}
.wrpCompare {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    .item {
        flex: 1;
        &:first-child {
            .imgwrp {
                &:before {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 52%;
                    margin-right: -20px;
                    width: 56px;
                    height: 65px;
                    transform: translate(0, -50%);
                    background: url("../public/icon-vs.png");
                    z-index: 1;
                    background-size: 100%;
                    background-repeat: no-repeat;             
                    @media screen and (max-width: $widthMobileSm) {
                        width: 48px;
                        height: 62px;
                    }    
                    @media screen and (max-width: $widthMobileXs) {
                        width: 40px;
                        height: 50px;
                    }                                               
                }
            }
        }
    }
    .contentDec {
        padding: 15px 20px 5px 20px;
        display: flex;
        flex-wrap: wrap;
        min-height: 86px;
        align-items: center;
        -ms-align-items: center;
        @media (max-width: $widthTabMin) {
            min-height: 125px;
        }        
        @media screen and (max-width: $widthMobileSm) {
            padding: 20px 20px 14px 20px;
        }        
        a {
            color: $color-black;
        }
    }
    .imgwrp {
        padding: 36px 20px 32px 20px;
        width: 100%;
        text-align: center;
        cursor: pointer;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fff6ff+0,f8fdff+100 */
        background: #fff6ff; /* Old browsers */
        background: -moz-linear-gradient(
            left,
            #fff6ff 0%,
            #f8fdff 100%
        ); /* FF3.6-15 */
        background: -webkit-linear-gradient(
            left,
            #fff6ff 0%,
            #f8fdff 100%
        ); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(
            to right,
            #fff6ff 0%,
            #f8fdff 100%
        ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff6ff', endColorstr='#f8fdff',GradientType=1 ); /* IE6-9 */
        position: relative;
    }
    h5 {
        margin-bottom: 5px;
    }
    h6 {
        font-size: 11px;
        font-family: $font-MulishRegular;
        color: $color-graytext;
    }
}

.fullLink {
    background: $color-green;
    color: #fff;
    font-size: 15.5px;
    font-family: "RubikMedium", sans-serif;
    letter-spacing: 0.2px;
    line-height: 1.6;
    padding: 12.5px 15px;
    border-radius: 17.5px;
    min-width: 156px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
    width: 90%;
    margin: 12px auto 36px auto;
    max-width: 480px;
    @media screen and (min-width: 1920px) and (max-width: 1920px) {
        padding: 14px 15px;
        border-radius: 18px;
        font-size: 17px;
    }
    @media screen and (max-width: $widthMobileSm) {
        font-size: 16px;
        font-family: "RubikMedium", sans-serif;
        letter-spacing: 0.2px;
        line-height: 1.55;
        padding: 12.5px 12.5px;        
        margin:5px auto 36px auto;
        border-radius: 12.5px;
    }
    &:hover {
        text-decoration: none;
        color: $color-white;
        background: $color-green-dark;
        box-shadow: 0 0 11px rgba(137, 195, 64, .25);
        -ms-box-shadow: 0 0 11px rgba(137, 195, 64, .25);        
    }
    img {
        margin-right: 10px;
        width: 26px;
    }
}

.containerCompare {
    right: 24px;
    bottom: 24px;
    background: #fff;
    z-index: 10;
    position: fixed;
    border-radius: 12.5px;
    box-shadow: 4px 6px 30px 2.5px rgba(214, 214, 214, 0.96);
    -ms-box-shadow: 4px 6px 30px 2.5px rgba(214, 214, 214, 0.96);  
    min-width: 274px;
    overflow: hidden;
    font-family: "RubikMedium", sans-serif;
    font-size: 17px;
    line-height: 24.5px;
    letter-spacing: 0.3px;
    h5{
        font-family: $font-MulishRegular, sans-serif;
        font-size: 13px;
        line-height: 24.5px;       
        color: $color-graytext;
        margin-bottom: 5px;
        &:first-child{
            margin-top: 10px;
        }
    }
    .desc {
        padding: 15px 24px 12px 24px;
    }
    @media (max-width: $widthMobileMax) {
        left: 0;
        right: 0;
        bottom: 5px;
        max-width: 290px;
        margin: 0 auto;
        background: none;
        .desc {
            display: none;
        }
    }
    @media (max-width: $widthMobileSm) {
        max-width: 100%;
        bottom: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        margin-bottom: 0px;
    }
}

.wrpAction {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 1px 24px 8px 24px;
    margin-bottom: 10px;
    @media (max-width: $widthMobileMax) {
        position: relative;
        &::before{
            position: absolute;
            content: " ";
            width: 100vw;
            height: 99px;
            background: #fff;
            left: 0px;
            top: -15px;
        }
    }
    @media (max-width: $widthMobileSm) {
        margin-bottom: 3px;
        margin-top: 10px;
    }
    .btnCompareProd {
        padding: 12px 5px;
        cursor: pointer;
        border-radius: 14.5px;
        font-family: "RubikMedium", sans-serif;
        letter-spacing: 0.25px;
        font-size: 15px;
    }
    .btnCompareProd {
        flex: 1;
        background: $color-green;
        color: #fff;
        z-index: 10;
        outline: none;
        top: 20px;
        &:hover{
            background: $color-green-dark;
            -webkit-box-shadow: 0 0 11px rgba(137, 195, 64, 0.25);
            box-shadow: 0 0 11px rgba(137, 195, 64, 0.25);
            -ms-box-shadow: 0 0 11px rgba(137, 195, 64, 0.25);            
        }
        @media (max-width: $widthMobileMax) {
            border-radius: 30px;
        }
    }
}

.btnfull {
    background: $color-green;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
}

.latestnews {
    background: #fff;
    padding: 50px 0;
    @media screen and (max-width: $widthMobileSm) {
        padding:24px 0px;
    }
    .contents {
        width: 100%;
        // max-width: $widthdefault;
        max-width: $containercustom;
        margin: 0 auto;
        padding: 0 15px;
        @media screen and (min-width: 1920px) and (max-width: 1920px) {
            max-width: $containerlarge;
        }         
    }
}

.mainpost {
    position: relative;
    border-radius: 7px;
    overflow: hidden;
    background: rgba(125, 185, 232, 0);
    margin: 15px 0;
    .infodate {
        color: #fff;
        font-size: 10px;
        @media screen and (max-width: 1200px) {
            color: $color-graytext;
        }
    }
    &::after {
        content: "";
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.92) 100%);
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.92) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.92) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 67%;
        box-sizing: content-box;
        @media screen and (max-width: 1200px) {
            display: none;
        }
        @media screen and (max-width: $widthMobileSm) {
            display: none;
        }
    }
    .desc {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 20px;
        z-index: 1;
        @media screen and (max-width: 1200px) {
            position: relative;
            padding:20px 5px 20px 2px;
        }
        @media screen and (max-width: $widthMobileSm) {
            position: relative;
        }
        a {
            color: #fff;
            @media screen and (max-width: 1200px) {
                color: $color-black;
            }
            @media screen and (max-width: $widthMobileSm) {
                color: $color-black;
            }
        }
    }
    h4 {
        font-size: 20px;
    }
}

.infodate {
    span {
        &:first-child {
            &::after {
                content: "•";
                margin: 0 3px;
                color: $color-green;
            }
        }
    }
}

.tags {
    background: $color-green2;
    color: #fff;
    padding: 0px 9px;
    color: $color-green;
    display: inline-block;
    border-radius: 30px;
    text-align: center;
    font-size: 9px;
    line-height: 16px;
    font-family: "Mulish Regular", sans-serif;
    margin-bottom: 5px;
    transition: $animate;
    a {
        color: $color-green;
        transition: $animate;

        &:after {
            content: "/";
            margin: 0 3px;
        }
        &:last-child {
            &::after {
                content: none;
            }
        }
        &:hover {
            transition: $animate;
        }
    }
}

.wrptopnews {
    .infodate {
        font-size: 10.5px;
        font-family: "Mulish Regular", sans-serif;
        color: $color-graytext-smooth;
        margin-bottom: 6px;
    }
    .wrpitemnews {
    }
}

.wrpitemnews {
    position: relative;
    padding-left: 170px;
    flex: 1;
    margin: 15px 0;
    min-height: 130px;
    .imgwrp {
        position: absolute;
        left: 0;
        top: 0;
        max-width: 150px;
        border-radius: 8.5px;
        overflow: hidden;
    }
    h5 {
        font-size: 14px;
        color: $color-black;
    }
    &:hover {
        .tags {
            background: $color-green;
            a {
                color: #fff;
            }
        }
    }
}

.verticalbaner {
    background: $color-gray2;
    height: 100%;
    position: relative;
    text-align: center;
    padding: 0 20px;
    .ads {
        padding: 0;
    }
    a {
        top: 10px;
        position: sticky;
    }
}

.kanalapp {
    background: #fff;
    padding-top: 48px;
    padding-bottom: 50px;
    @media screen and (max-width: $widthMobileSm) {
        padding:24px 0px;
    }    
    .contents {
        width: 100%;
        // max-width: $widthdefault;
        max-width: $containercustom;
        margin: 0 auto;
        padding: 0 15px;
        @media screen and (min-width: 1920px) and (max-width: 1920px) {
            max-width: $containerlarge;
        }              
    }
}

.topkanal,
.topberita {
    position: relative;
    border-radius: 7px;
    overflow: hidden;
    margin: 15px 0;
    .desc {
        position: absolute;
        bottom: 0;
        color: #fff;
        z-index: 1;
        padding: 20px;
        padding-left: 20px;
        @media screen and (max-width: 1200px) {
            position: relative;
            padding-left: 0px;
        }
        @media screen and (max-width: $widthMobileMax) {
            position: relative;
            padding:20px 0px;
        }
        h5 {
            font-family: $font-RubikMedium;
            min-height: 42px;
            font-size: 20px;
            line-height: 22.5px;
            @media screen and (max-width: 1200px) {
                margin-bottom: 5px;
            }
        }
        p{
            display: none;
        }
        a {
            color: #fff;
            @media screen and (max-width: 1200px) {
                color: $color-black;
            }
            @media screen and (max-width: $widthMobileMax) {
                color: $color-black;
            }
        }
        .imgwrp {
            position: absolute;
            width: 100px;
            left: 20px;
            top: 20px;
            overflow: hidden;
            background: $color-gray;
            padding: 7px;
            border-radius: 7px;
            display: flex;
            align-items: center;
            display: none;
            img {
                border-radius: 5px;
            }
        }
    }
    &::after {
        content: "";
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.92) 100%);
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.92)));
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.92) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00000000", endColorstr="#a6000000",GradientType=0 );
        position: absolute;
        bottom: 0;
        left: 0;
        height: 67%;
        width: 100%;
        @media screen and (max-width: 1200px) {
            display: none;
        }
        @media screen and (max-width: $widthMobileMax) {
            display: none;
        }
    }
    .infodate {
        font-size: 10px;
        @media screen and (max-width: 1200px) {
            color: $color-graytext;
        }
        @media screen and (max-width: $widthMobileMax) {
            color: $color-graytext;
        }
    }
}
.infodate {
    font-size: 10px;
    font-family: "$font-MulishRegular", sans-serif;
    color: #fff;
    position: relative;
    z-index: 2;    
    @media screen and (max-width: $widthMobileMax) {
        color: $color-graytext;
        font-family: "$font-MulishRegular", sans-serif;
    }    
}
.wrplistapp {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 15px 0;
    position: relative;
    padding-left: 85px;
    min-height: 60px;
    max-width: 420px;
    a {
        h5 {
            color: $color-black;
        }
    }
    .imgwrp {
        background: $color-gray2;
        display: flex;
        align-items: center;
        position: absolute;
        left: 0;
        top: 0;
        width: 70px;
        min-height: 70px;
        border-radius: 5px;
        overflow: hidden;
        margin-right: 15px;
        text-align: center;
        border-radius: 10px;
        overflow: hidden;
        border: $color-green2 solid 1px;
    }
    h5 {
        font-size: 15px;
    }
    &:hover {
        .tags {
            background: $color-green;
            a {
                color: #fff;
            }
        }
    }
}

.tipstrik {
    padding: 50px 0;
    @media screen and (max-width: $widthMobileSm) {
        padding:24px 0px 45px 0px;      
    }    
    .contents {
        width: 100%;
        // max-width: $widthdefault;
        max-width: $containercustom;
        margin: 0 auto;
        padding: 0 15px;
        @media screen and (min-width: 1920px) and (max-width: 1920px) {
            max-width: $containerlarge;
        }              
    }
    .itemcontent {
        position: relative;
        margin-bottom: 15px;
        margin-top: 15px;
        min-height: 110px;
        .left {
            padding-right: 170px;
        }
        a {
            color: inherit;
            h5 {
                font-size: 16px;
                color: $color-black;
            }
        }
        .right {
            position: absolute;
            right: 0;
            top: 0;
            max-width: 150px;
            border-radius: 8.5px;
            overflow: hidden;
            div {
                div {
                    display: block !important;
                }
            }
        }
        &:hover {
            .tags {
                background: $color-green;
                a {
                    color: #fff;
                }
            }
        }
    }
}
