$color-green: #0FB582;
$color-orange: #FF8F00;
$color-green2: #E8FFF8;
$color-gray: #ACACAC;
$color-gray2: #F9F9F9;
$color-black: #494949;
$color-default: #A3A3A3;
$color-gray3: #E5E5E5;

$wrapper: 1200px;
$radius: 10px;

.wrpPosts {
    margin-top: 30px;
}

.itemPost {
    position: relative;
    text-align: left;
    margin-bottom: 30px;
    a {
        color: $color-gray;
        :hover {
            text-decoration: none;
        }
    }
    h5 {
        font-size: 14px;
        margin-top: 10px;
        a{
            color: $color-orange;
        }
    }
}