@import "../styles/variable.scss";

.pages {
    background: #fff;
    .contents {
        width: 100%;
        max-width: $widthdefault;
        margin: 0 auto;
        padding: 50px 15px;
    }
    h2 {
        font-size: 25px;
        font-family: $font-MulishExtraBold;
    }
}

.subContents {
    max-width: 850px;
    margin: 0 auto;
    h4 {
        font-size: 17px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    h3 {
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 20px;
        font-family: $font-MulishExtraBold;
    }
    p {
        margin: 15px 0;
    }
}

.itemBox {
    background: $color-gray2;
    padding: 12px 20px;
    border-radius: 7px;
    margin-bottom: 15px;
    transition: $animate;
    span {
        margin-left: 7px;
        transition: $animate;
    }
    a {
        color: $color-black2;
    }
    &:hover {
        background: $color-green;
        transition: $animate;
        color: #fff;
        a {
            color: #fff;
        }
        span {
            transition: $animate;
            margin-left: 15px;
        }
    }
}

.mainImage {
    position: relative;
    text-align: center;
    margin: 0 auto;
    background: $color-gray2;
}

.bgGradient {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eafed3+0,f7fff9+100 */
    background: #eafed3; /* Old browsers */
    background: -moz-linear-gradient(
        top,
        #eafed3 0%,
        #f7fff9 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
        top,
        #eafed3 0%,
        #f7fff9 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
        to bottom,
        #eafed3 0%,
        #f7fff9 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eafed3', endColorstr='#f7fff9',GradientType=0 ); /* IE6-9 */
    position: relative;
    .contents {
        width: 100%;
        max-width: $widthdefault;
        margin: 0 auto;
        padding: 0 15px;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 0;
        right: 0;
    }
    h2 {
        font-size: 40px;
        font-family: $font-MulishBlack;
        margin-bottom: 10px;
    }
    ul {
        margin-top: 0;
        li {
            display: inline-block;
            &::after {
                content: "/";
                margin: 0 5px;
            }
            &:last-child {
                &::after {
                    content: none;
                }
            }
            a {
                color: $color-black;
            }
        }
    }
}

.itemContact {
    position: relative;
    padding-left: 40px;
    margin-bottom: 20px;
    h5 {
        font-family: $font-MulishExtraBold;
    }
    .icon {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 17px;
        color: $color-green;
    }
    a {
        color: $color-green;
        text-decoration: underline;
    }
}

.listlowker {
    line-height: 27px;
}

.googleMaps {
    position: relative;
    padding-bottom: 35%;
    height: 0;
    overflow: hidden;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        border: none;
        width: 100% !important;
        height: 100% !important;
    }
}

.itemfaq {
    margin-top: 30px;
    h4 {
        margin-bottom: 10px;
        font-size: 20px;
    }
}
