$color-green: #0fb582;
$color-orange: #ff8f00;
$color-green2: #e8fff8;
$color-gray: #acacac;
$color-gray2: #f9f9f9;
$color-black: #494949;
$color-default: #a3a3a3;
$color-gray3: #e5e5e5;

$wrapper: 1200px;
$radius: 10px;

.bgcover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.animatecss {
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}

.clear {
  clear: both;
}

.alpha {
  padding-left: 0 !important;
}

.omega {
  padding-right: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.pull-right {
  float: right;
}

.wrapper {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: $wrapper;
  padding-left: 15px;
  padding-right: 15px;
}
.imgwrp img {
  max-width: 100%;
}

.shadow {
  box-shadow: 0px 4px 10px rgba(214, 214, 214, 0.25);
}

/* --------------------- HEADER LAYOUT --------------------- */

.headerweb {
  background: #fff;
  @extend .shadow;
  a {
    color: $color-black;
  }
}

/* --------------------- END HEADER LAYOUT --------------------- */

/* --------------------- BODYWEB LAYOUT --------------------- */

.bodyweb {
  background: $color-gray2;
  min-height: 300px;
}

.contents {
  @extend .wrapper;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.boxwhite {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  @extend .shadow;
  min-height: 100px;
}

.itemboxwhite {
  margin-bottom: 30px;
}

.stickytop {
  position: sticky;
  top: 100px;
}

.itemsidebar {
  margin-bottom: 15px;
  h4 {
    text-align: left;
  }
}

.itemterbaru {
  position: relative;
  padding-left: 110px;
  text-align: left;
  margin-bottom: 15px;
  margin-top: 15px;
  min-height: 57px;
  .imgwrp {
    position: absolute;
    width: 100px;
    height: auto;
    left: 0;
    top: 0;
  }
  a {
    color: $color-black;
  }
}

.categoriesHome {
  margin-bottom: 30px;
  ul {
    margin: 0;
    display: flex;
    background: #fff;
    @extend .shadow;
  }
  li {
    flex: 1;
    list-style: none;
    a {
      display: block;
      color: $color-green;
      padding: 15px;
    }
  }
}
/* --------------------- END BODYWEB LAYOUT --------------------- */

/* --------------------- FOOTER LAYOUT --------------------- */
.footerweb {
}
/* --------------------- END FOOTER LAYOUT --------------------- */
