@import "../../styles/variable";

.latestnews {
    background: #fff;
    padding: 50px 0;
    .contents {
        width: 100%;
        max-width: $widthdefault;
        margin: 0 auto;
    }
}

.mainpost {
    position: relative;
    border-radius: 7px;
    overflow: hidden;
    background: rgba(125,185,232,0);
    margin: 15px 0;
    &::after {
        content: "";
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7db9e8+0,000000+100&0+0,0+56,0.6+100 */
        background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(55,81,102,0) 56%, rgba(0,0,0,0.6) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(55,81,102,0) 56%,rgba(0,0,0,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(55,81,102,0) 56%,rgba(0,0,0,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#99000000',GradientType=0 ); /* IE6-9 */
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        box-sizing: content-box;
    }    
    .desc {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 20px;
        z-index: 1;
        a {
            color: #fff;
        }
    }
    .tags {
        background:$color-green ;
        border-radius: 30px;
        padding: 2px 10px;
        text-align: center;
        display: inline-block;
        margin-bottom: 10px;
        a {
            color: #fff;
            &:after {
                content: "/";
                margin: 0 3px;
            }
            &:last-child {
                &::after {
                    content: none;
                }
            }
        }
    }
    .infodate {
        color: #fff;
        span {
            &:first-child {
                &::after {
                    content: "•";
                    margin: 0 3px;
                    color: $color-green;
                }    
            }
        }
    }
}

.tags {
    background: $color-green2;
    color: #fff;
    a {
        color: $color-green;
    }
}

.wrptopnews {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.wrpitemnews {
    position: relative;
    padding-left: 190px;
    flex: 1;
    margin: 15px 0;
    .tags {
        display: inline-block;
        border-radius: 30px;
        padding: 2px 10px;
        text-align: center;
        font-size: 12px;
        margin-bottom: 10px;
        a {
            &:after {
                content: "/";
                margin: 0 3px;
            }
            &:last-child {
                &::after {
                    content: none;
                }
            }
        }
    }
    .imgwrp {
        position: absolute;
        left: 0;
        top: 0;
    }
    h5 {
        font-size: 15px;
        color: $color-black;
    }
    .infodate {
        span {
            &:first-child {
                &::after {
                    content: "•";
                    margin: 0 5px;
                    color: $color-green;
                    font-size: 17px;
                }    
            }
            &:last-child {
                opacity: 0.7;
            }
        }
    }

}