@import "./variable";
@import "./reset";


html,
body {
	font-size: 14px;
	line-height: 23px;
	margin: 0;
	font-family: var(--font-MulishRegular);
	color: yellow;
}

a {
	text-decoration: none;
	-webkit-transition: all ease-out 0.4s;
	-moz-transition: all ease-out 0.4s;
	-o-transition: all ease-out 0.4s;
	transition: all ease-out 0.4s;
	cursor:pointer;
} 

a:hover, a:active {
	color: inherit;
	text-decoration: underline;
	-webkit-transition: all ease-out 0.4s;
	-moz-transition: all ease-out 0.4s;
	-o-transition: all ease-out 0.4s;
	transition: all ease-out 0.4s;
}

.imgwrp img, img { max-width:100%;}

.shadow {
	box-shadow: 0px 4px 10px rgba(214, 214, 214, 0.25);
}

.fullbaner {
	margin-bottom: 30px;
}

.txtleft {
	text-align: left;
}

* {
  box-sizing: border-box;
}

