@import "./fonts";

//fonts
$font-MulishRegular: "Mulish-Regular";
$font-MulishItalic: "Mulish Italic";
$font-MulishExtraLight: "Mulish-ExtraLight";
$font-MulishExtraLightItalic: "Mulish ExtraLight Italic";
$font-MulishLight: "Mulish Light";
$font-MulishLightItalic: "Mulish Light Italic";
$font-MulishSemiBold: "Mulish SemiBold";
$font-MulishSemiBoldItalic: "Mulish SemiBold Italic";
$font-MulishBold: "Mulish-Bold";
$font-MulishBoldItalic: "Mulish Bold Italic";
$font-MulishExtraBold: "Mulish-ExtraBold";
$font-MulishExtraBoldItalic: "Mulish ExtraBold Italic";
$font-MulishBlack: "Mulish-Black";
$font-MulishBlackItalic: "Mulish Black Italic";
$font-RubikMedium: "RubikMedium";

$widthMax: 1700px;
$widthdefault: 1320px;
$containercustom: 1250px;

$color-black: #000033;
$color-black2: #333333;
$color-graytext: #666666;
$color-graytext-smooth: #666666;
$color-gray: #d7d7d7;
$color-gray2: #f9f9f8;
$color-gray3: #999;
$color-green-dark: #5ea00e;
$color-green: #89c340;
$color-green2: #e6f2d7;

$shadow: 0px 4px 10px rgba(214, 214, 214, 0.9);
$shadow2: 0px 4px 10px rgba(214, 214, 214, 0.4);

$animate: all ease-out 0.4s;

$widthMobileMax: 767px;
$widthTabMin: 768px;
$widthTabMax: 1045px;
