@import "../../styles/variable.scss";

.pageBrand {
    padding: 50px 0;
    .contents {
        max-width: $widthdefault;
        margin: 0 auto;
        width: 100%;
        padding: 0 15px;
    }
    @media (max-width: $widthMobileMax) {
        padding: 20px 0;
        .contents {
        }
    }
}

.containerCompare {
    right: 24px;
    bottom: 24px;
    background: #fff;
    z-index: 10;
    position: fixed;
    border-radius: 12.5px;
    -webkit-box-shadow: 4px 6px 30px 2.5px rgb(214 214 214 / 96%);
    box-shadow: 4px 6px 30px 2.5px rgb(214 214 214 / 96%);
    -ms-box-shadow: 4px 6px 30px 2.5px rgba(214, 214, 214, 0.96);
    min-width: 274px;
    overflow: hidden;
    font-family: $font-RubikMedium;
    font-size: 17px;
    line-height: 24.5px;
    letter-spacing: 0.3px;
    h5{
        font-family: $font-MulishRegular, sans-serif;
        font-size: 13px;
        line-height: 24.5px;
        color: $color-graytext;
        margin-bottom: 5px;
        &:first-child {
            margin-top: 10px;
        }  
    }    
    .desc {
        padding: 15px 24px 12px 24px;
    }
    @media (max-width: $widthMobileMax) {
        left: 0;
        right: 0;
        bottom: 5px;
        max-width: 290px;
        margin: 0 auto;
        background: none;
        .desc {
            display: none;
        }
    }
}

.wrpAction {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 1px 24px 8px 24px;
    margin-bottom: 10px;
    @media (max-width: $widthMobileMax) {
        position: relative;
        &::before {
            position: absolute;
            content: " ";
            width: 100vw;
            height: 99px;
            background: #fff;
            left: 0px;
            top: -15px;
        }
    }
    @media (max-width: $widthMobileSm) {
        margin-bottom: 3px;
        margin-top: 10px;
    }
    .btnCompareProd {
        padding: 12px 5px;
        cursor: pointer;
        border-radius: 14.5px;
        font-family: "RubikMedium", sans-serif;
        letter-spacing: 0.25px;
        font-size: 15px;
    }
    .btnCompareProd {
        flex: 1;
        background: $color-green;
        color: #fff;
        z-index: 10;
        outline: none;
        top: 20px;
        &:hover {
            background: $color-green-dark;
            -webkit-box-shadow: 0 0 11px rgba(137, 195, 64, 0.25);
            box-shadow: 0 0 11px rgba(137, 195, 64, 0.25);
            -ms-box-shadow: 0 0 11px rgba(137, 195, 64, 0.25);
        }
        @media (max-width: $widthMobileMax) {
            border-radius: 30px;
        }
    }
}
